{% extends 'template' %}
{% block head_footer %}
<link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/select2.min.css" />
<style type="text/css">
ul.select2-choices {
    margin-top: -2px;
}
.select2-search-choice {
    background: #1abc9c;
}
.form-control[disabled], 
.form-control[readonly], 
fieldset[disabled] .form-control, 
.select2-search input[type=text][disabled], 
.select2-search input[type=text][readonly], 
fieldset[disabled] .select2-search input[type=text] {
    color: #34495e !important;
}
</style>
{% endblock %}
{% block content %}

    <h1>Metadata</h1>
    <p>
    </p>
    {#
    <p>
    {{ thing_id }}
    </p>
    #}
    
<form 
    role="form"
    class="form-horizontal" 
    action="?from={{ from }}"
    method="post" 
<fieldset>
<input type="hidden" name="_csrf" value="{{ csrfToken }}">

{% include "form_h_input.html" %}
{% include "form_h_select.html" %}

    {# <h2>Edit</h2> #}
    <h3>Filtering</h3>
    <p>
    These fields make it easy for you to organize Things in your Cookbooks and Node.JS code
    - e.g. by name, by function ("facets"), or by where it is ("zones").
    </p>

{{ form_h_input({ key: "_iot_thing", value: metadata['iot:thing'], label: "Thing ID", errors: null, readonly: true }) }}
{{ form_h_input({ key: "schema:name", value: metadata['schema:name'], label: "Name", errors: null }) }}
{{ form_h_select({ key: "iot:facet", value: metadata_facets, multiple: true, label: "Facets", choices: facets, errors: null }) }}
{{ form_h_select({ key: "iot:zone", value: metadata_zones, multiple: true, label: "Zones", choices: zones, errors: null }) }}

    <h3>Access Control</h3>
    <p>
    These fields control who can view and change this Thing.
    </p>

{{ form_h_select({ key: "iot:access.read", value: metadata_access_read, multiple: true, label: "View", choices: access_read, errors: null }) }}
{{ form_h_select({ key: "iot:access.write", value: metadata_access_write, multiple: true, label: "Control", choices: access_write, errors: null }) }}

<!-- Button -->
<div class="form-group">
  <label class="col-md-2 control-label" for="submit"></label>
  <div class="col-md-10">
    <div class="pull-right">
        <a href="/things#{{ thing_id }}" type="btn btn-primary" class="do_cancel btn btn-warning">Cancel</a>
        <button id="submit" name="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
</div>

</fieldset>
</form>

    <h2>How to use it</h3>
    <h3>Name</h3>
    <pre>iot.things().with_name("My Name")</pre>
    <h3>Facets</h3>
    <pre>iot.things().with_facet(":lighting")</pre>
    <h3>Zones</h3>
    <pre>iot.things().with_zone("Basename")</pre>
{% endblock %}
{% block body_footer %}
<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/select2.min.js"></script>
<script type="text/javascript">
$('select').select2();
</script>
{% endblock %}

